.content {
    float: left;
    width: 100%;
    /* width: calc(100% - 178px); */
    height: calc(100vh - 70px);
    background-color: #F3F6FE;
}


/* main table */

.m-content-box {
    border: 1px solid #afafaf;
    border-radius: 3.5px;
}

.m-content-table {
    margin: 16px;
    background-color: #F3F6FE;
}


/* tittle */

.m-content-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-tittle-l-text {
    font-family: BAKA font Bold;
    font-size: 20px;
    margin: 16px 0 0 16px;
}

.m-tittle-right {
    margin: 16px 16px 0 16px;
}


/* search */

.m-content-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.m-content-search-left {
    display: flex;
    align-items: center;
}

.m-combobox-search {
    margin-right: 16px;
}

.m-input.m-input-search {
    background: url('../../assets/img/Screenshot_2021-11-27_164411-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 32px 32px;
    padding-left: 40px;
}

.m-row.m-l-search input {
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    height: 34px;
    font-size: 13px;
    font-style: italic;
    overflow: hidden;
}

.m-content-search-right {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Content table */

.m-content-table-box {
    height: calc(100vh - 260px);
    overflow: scroll;
}

.m-content-table-row-setting {
    display: flex;
    justify-content: space-evenly;
}


/* contetn btn */

.m-content-btn-change {
    background: url(/img/qlts-icon.e652bcc2.svg) no-repeat -156px -68px;
    width: 16px;
    height: 16px;
}

.m-content-btn-copy {
    background: url(/img/qlts-icon.e652bcc2.svg) no-repeat -244px -112px;
    width: 16px;
    height: 16px;
}

#m-btn-add-ele {
    margin-right: 16px;
}


/* Btn excel, delete */

#btnExcel,
#btnDelete {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    cursor: pointer;
}

.m-btn-excel {
    background: url(/img/qlts-icon.e652bcc2.svg) no-repeat -278px -102px;
    width: 36px;
    height: 36px;
}

.m-btn-delete {
    background: url(/img/qlts-icon.e652bcc2.svg) no-repeat -454px -102px;
    width: 36px;
    height: 36px;
}