.header {
    display: flex;
    justify-content: space-between;
    float: left;
    height: 44px;
    width: 100%;
    background-color: #ffffff;
    /* width: calc(100% - 250px); */
}

.m-header-left,
.m-header-right {
    display: flex;
    cursor: pointer;
    padding: 20px;
    align-items: center;
}


/* Header left */

.m-header-l-text {
    margin-right: 10px;
    font-size: 17px;
    font-weight: 700;
}


/* Header right */

.m-header-r-text {
    color: #001031;
    margin-right: 16px;
}

.m-header-r-year {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
    margin-right: 16px;
    background-color: rgba(26, 164, 200, .2);
    border-radius: 3px;
    width: 112px;
    height: 20px;
    overflow: hidden;
}

.m-year-number {
    font-weight: 700;
}

.m-year-icon {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -204px -332px;
    width: 8px;
    height: 16px;
}

.m-header-r-bell {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -332px -109px;
    width: 16px;
    height: 20px;
    margin-right: 16px;
}

.m-header-r-menu {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -199px -23px;
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.m-header-r-help {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -67px -67px;
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.m-header-r-avatar {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -23px -23px;
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.m-header-r-downicon {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -72px -338px;
    width: 8px;
    height: 5px;
    margin-right: 16px;
}