/* Base css */

@import url(./base/button.css);

/* @import url(./base/dialog.css); */

@import url(./base/icon.css);
@import url(./base/input.css);
@import url(./base/toast.css);

/* Common */

@import url(./common/checkbox.css);
@import url(./common/combobox.css);
@import url(./common/common.css);
@import url(./common/paging-navigation.css);
@import url(./common/table.css);
@import url(./common/downIcon.css);

/* Layout css */

@import url(./layout/navbar.css);
@import url(./layout/header.css);
@import url(./layout/content.css);

/* PopUpPage */

@import url(./popuppage.css);

/* Popupdelete */

@import url(./popupdelete.css);

/* body */

body {
    font-family: BAKA font;
    margin: 0;
}

a {
    text-decoration: none;
}


/* Font */

@font-face {
    font-family: BAKA font;
    src: url('../assets/html/dist/05a65153efe56028d343c10b53faa583.ttf');
}

@font-face {
    font-family: BAKA font Bold;
    font-weight: 700;
    src: url('../assets/html/dist/05a65153efe56028d343c10b53faa583.ttf');
}

@font-face {
    font-family: BAKA font Italic;
    src: url('../assets/html/dist/05a65153efe56028d343c10b53faa583.ttf');
}

@font-face {
    font-family: BAKA font semibold;
    src: url('../assets/html/dist/05a65153efe56028d343c10b53faa583.ttf');
}