.m-paging {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: white;
    /* border-radius: 0 0 3.5px 3.5px; */
    border-top: 1px solid #afafaf;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, .16); */
}

.m-paging .m-paging-left {
    padding: 16px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.m-paging-record {
    margin-right: 16px;
}

#cbxPageSize {
    background-color: #ffffff;
    border-radius: 2.625px;
    border: 1px solid #afafaf;
    width: 59px;
    height: 25px;
    overflow: hidden;
}

.m-paging .m-paging-right {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 16px;
}

.m-paging-hover {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: none;
    cursor: pointer;
    margin-right: 6px;
}

.m-paging-hover.page-number-active {
    /* background-color: aquamarine !important; */
    border: 1px solid #bbbbbb;
    font-family: BAKA font Bold;
}

.m-paging-hover:hover {
    border: 1px solid #bbbbbb;
    font-family: BAKA font Bold;
}

.m-paging-hover.m-paging-prev {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -21px -239px;
    width: 25px;
    height: 25px;
}

.m-paging-hover.m-paging-next {
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -63px -240px;
    width: 25px;
    height: 25px;
}

.combobox-count {
    margin-right: 16px;
}

.m-paging-number {
    display: flex;
}

.m-paging .m-paging-right select {
    font-size: 15px;
}