table.m-table {
    position: relative;
    width: 100%;
    height: 10vh;
    border-radius: 3.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-collapse: collapse;
}

table.m-table tr {
    height: 40px;
    cursor: pointer;
    background-color: #F5F5F5;
    table-layout: fixed;
}

table.m-table tr th,
table.m-table tr td {
    z-index: 2;
}

table.m-table thead {
    width: 100%;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

table.m-table tbody {
    margin-top: 38px;
    height: 528px;
    max-height: calc(100vh - 303px);
    overflow-y: scroll;
    overflow-x: hidden;
}

table.m-table tbody tr {
    max-height: 50px;
    background-color: white;
}

table.m-table tbody tr:hover {
    background-color: #ececec;
}

table.m-table th,
td {
    padding: 0 8px;
    border: none;
}

tr {
    /* border: none; */
    border-bottom: 1px solid #dddddd;
}

table.m-table tr td:first-child,
table.m-table th:first-child {
    padding-left: 16px;
}

table.m-table tr.m-row-selected {
    background-color: rgba(83, 51, 116, 0.452) !important;
}